/* ==========================================================================
    GRIDLEX
    Just a Flexbox Grid System
========================================================================== */

@import "gridlex-vars";

[class*="#{$gl-grid-selector}"]{
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  margin: 0 (-$gl-gutter/2);
}
[class*="#{$gl-col-selector}"]{
  box-sizing: border-box;
  flex: 0 0 auto;
  padding: 0 ($gl-gutter/2) $gl-gutter;
}
.#{$gl-col-selector}{
  flex: 1 1 0%;
}
.#{$gl-grid-selector}[class*="#{$gl-col-selector}"]{
  margin: 0;
  padding: 0;
}


/************************
    GRID BY NUMBER
*************************/
@include makeGridByNumber(#{$gl-grid-selector});

@media #{$gl-xl}{
  @include makeGridByNumber(huge);
}
@media #{$gl-lg}{
  @include makeGridByNumber(large);
}
@media #{$gl-md}{
  @include makeGridByNumber(medium);
  [class*="#{$gl-grid-selector}"]{
    margin: 0 (-$gl-gutter-small/2);
  }
  [class*="#{$gl-col-selector}"]{
    padding: 0 ($gl-gutter-small/2) $gl-gutter-small;
  }
}
@media #{$gl-sm}{
  @include makeGridByNumber(small);
}


/************************
    COLS SIZES
*************************/
@include makeCol(#{$gl-col-selector});
@include makeOff(#{$gl-col-selector});

@media #{$gl-xl}{
  @include makeCol(huge);
  @include makeOff(huge);
}
@media #{$gl-lg}{
  @include makeCol(large);
  @include makeOff(large);
}
@media #{$gl-md}{
  @include makeCol(medium);
  @include makeOff(medium);
}
@media #{$gl-sm}{
  @include makeCol(small);
  @include makeOff(small);
}
